* {
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

:root {
	--primary-color: #578c52;
	--primary-color-dark: #257c1b60;
	--text-white: #fff;
	--text-black: #3a3a3a;
	--bg-color: #f7fafc;

	background: var(--bg-color);
	color: var(--text-white);
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px;
}

body {
	height: 100vh;
	width: 100vw;
}

/* Fonte */

.text-half {
	font-size: 0.5em;
}

.text-single {
	font-size: 1em;
}

.text-1_25 {
	font-size: 1.25em;
}

.text-1_5 {
	font-size: 1.5em;
}

.text-1_75 {
	font-size: 1.75em;
}

.text-double {
	font-size: 2em;
}

.text-triple {
	font-size: 3em;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 600;
}

.title {
	color: var(--primary-color);
	font-size: 2.5em;
	font-weight: 600;
}

.text-green {
	color: var(--primary-color);
}

.text-white {
	color: var(--text-white);
}

.text-black {
	color: var(--text-black);
}

/* Tamanho */

.full-height {
	height: 100%;
}

.half-height {
	height: 50%;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.container {
	padding: 2rem;
}

/* Display */

.flex-row-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.flex-column-center {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hidden {
	display: none;
}
